<style>
  @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
  @import url(/assets/cubism/style.css);

  /* HEIGHT BELOW GRAPH STACK*/
  #example1 { min-height: 155px; }
  #example2a { min-height: 153px; }
  #example2b { min-height: 255px; }
</style>

<body>
  <script src="/assets/cubism/d3.v2.js"></script>
  <script src="/assets/cubism/cubism.v1.js"></script>
  <script src="/assets/cubism/highlight.min.js"></script>

  <h1>Cubism.js</h1>
  <h2>Time Series Visualization</h2>
  <div id="example1"></div>

  <h2>Scalable</h2>
  <div id="example2a"></div>
    
  <h2>Effective</h2>
  <div id="example2b"></div>

</body>

<script>
  function random(name) {
    var value = 0,
        values = [],
        i = 0,
        last;
    return context.metric(function(start, stop, step, callback) {
      start = +start, stop = +stop;
      if (isNaN(last)) last = start;
      while (last < stop) {
        last += step;
        value = Math.max(-10, Math.min(10, value + .8 * Math.random() - .4 + .2 * Math.cos(i += .2)));
        values.push(value);
      }
      callback(null, values = values.slice((start - stop) / step));
    }, name);
  }
</script>


<script>

  var context = cubism.context()
      .serverDelay(0)
      .clientDelay(0)
      .step(1e3) //Milisencond interval to poll new data
      .size(800); //GRAPH SIZE - FIND TO SET TO AUTOMATIC!? IT MOVES WITH RULER AND AXIS!

  var foo = random("foo"),
      bar = random("bar");

  /* FIRST GRAPH */
  d3.select("div#example1").call(function(div) {
    div.append("div")
        .attr("class", "axis")
        .call(context.axis().orient("top"));

    div.selectAll(".horizon")
        .data([foo, bar, foo.add(bar), foo.subtract(bar)])
      .enter().append("div")
        .attr("class", "horizon")
        .call(context.horizon().extent([-20, 20]));

    div.append("div")
        .attr("class", "rule")
        .call(context.rule())
        .position(relative);
  });

  /* SECOND GRAPH */
  d3.select("div#example2a").call(function(div) {
    div.datum(foo);
    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(120)
          .mode("mirror")
          .colors(["#bdd7e7","#bae4b3"])
          .title("Area (120px)")
          .extent([-10, 10]));

    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(30)
          .mode("mirror")
          .colors(["#bdd7e7","#bae4b3"])
          .title("Area (30px)")
          .extent([-10, 10]));
  });

  /* THIRD GRAPH */
  d3.select("div#example2b").call(function(div) {
    div.datum(foo);

    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(120)
          .colors(["#bdd7e7","#bae4b3"])
          .title("Horizon, 1-band (120px)")
          .extent([-10, 10]));

    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(60)
          .colors(["#6baed6","#bdd7e7","#bae4b3","#74c476"])
          .title("Horizon, 2-band (60px)")
          .extent([-10, 10]));

    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(40)
          .colors(["#3182bd","#6baed6","#bdd7e7","#bae4b3","#74c476","#31a354"])
          .title("Horizon, 3-band (40px)")
          .extent([-10, 10]));

    div.append("div")
        .attr("class", "horizon")
        .call(context.horizon()
          .height(30)
          .colors(["#08519c","#3182bd","#6baed6","#bdd7e7","#bae4b3","#74c476","#31a354","#006d2c"])
          .title("Horizon, 4-band (30px)")
          .extent([-10, 10]));
  });

  // On mousemove, reposition the chart values to match the rule.
  context.on("focus", function(i) {
    d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
  });

</script>



/*

<style>

body {
  font-family: sans-serif;
}

svg {
  position: absolute;
  top: 0;
}

#horizon-controls {
  position: absolute;
  width: 500px;
  padding: 10px;
  z-index: 1;
}

#horizon-bands {
  float: right;
}

</style>

<div id="horizon-chart"></div>
<script>

var width = 500,
    height = 300;

var chart = d3.horizon()
    .width(width)
    .height(height)
    .bands(1)
    .mode("mirror")
    .interpolate("basis");

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("unemployment.json", function(data) {

  // Offset so that positive is above-average and negative is below-average.
  var mean = data.rate.reduce(function(p, v) { return p + v; }, 0) / data.rate.length;

  // Transpose column values to rows.
  data = data.rate.map(function(rate, i) {
    return [Date.UTC(data.year[i], data.month[i] - 1), rate - mean];
  });

  // Render the chart.
  svg.data([data]).call(chart);

  // Enable mode buttons.
  d3.selectAll("#horizon-controls input[name=mode]").on("change", function() {
    svg.call(chart.duration(0).mode(this.value));
  });

  // Enable bands buttons.
  d3.selectAll("#horizon-bands button").data([-1, 1]).on("click", function(d) {
    var n = Math.max(1, chart.bands() + d);
    d3.select("#horizon-bands-value").text(n);
    svg.call(chart.duration(1000).bands(n).height(height / n));
  });
});

</script>


*/